@page
@model Oiski.School.H3_2021.Bookstore.WebApp.Pages.TagHelpersModel
@{
    <h1>1</h1>
    <a asp-protocol="https" asp-page="" asp-host="EUCSyd.dk">EUC</a>

    <h1>2</h1>
    <img asp-append-version="true" src="~/Images/Aquarian.Age.600.1392943.jpg" />

    <h1>3</h1>

}
